@import "../../../../index.scss";


.loginbtn {
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    background: linear-gradient(120deg, #FFD700, #FFA500, #FED709);
    font-size: 1rem;
    font-weight: 700;
    border: none;
}