@import "../../../index.scss";

.form-container {
    display: flex;
    flex: 1;

    @include lg {
        width: 100%;
        flex: auto;
        height: 30vh;
        align-items: end;
    }

    .desktop-form {
        // border: 2px solid brown;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include lg {
            display: none;
        }
    }

    .mobile-form {
        // border: 2px solid yellow;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: none;

        @include lg {
            // display: block;
            display: flex;
            align-items: end;
        }

        .form-intial {
            width: 100%;
            height: 30vh;
            z-index: 1;
            display: flex;
            justify-content: center;
            position: relative;

            .sBox {
                width: 100%;
                z-index: 10;
                position: absolute;
                display: flex;
                justify-content: center;
                backdrop-filter: blur(10px);
                border-top: 2px solid;
                border-radius: 2rem;
                padding-top: 1rem;
                @include smd{
                    border-radius: 1rem;
                }
                @include sm{
                    height: 90vh;
                    align-items: center;
                }

                .fixedCircle {
                    position: absolute;
                    top: 0px;

                    .arrowIcon {
                        height: 40px;
                        width: 40px;
                        position: relative;
                        animation: upDown 1s 1s infinite alternate ease-out;
                    }

                    @keyframes upDown {
                        0% {
                            bottom: 15px;
                        }

                        100% {
                            bottom: 5px;
                        }
                    }
                }
            }

        }

    }
}