.profile {
    // border: 2px solid;
    flex: 1;
    padding: 2rem;

    .userDetails {
        // border: 2px solid;
        text-align: center;

        h3 {
            margin: 1rem 0;
        }
    }

    .userTeams {
        margin-top: 2rem;

        .userTeam {
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            column-gap: 2rem;

            .teamBox {
                padding: 1rem;
                border: 2px solid;
                height: 5rem;
                width: 10rem;
                background-color: #8080803a;
            }
        }
    }
}