@import "@/index.scss";

.home {
    margin-top: 3rem;
    width: 100%;
    position: relative;



    .userdetails {
        padding: 1rem 4rem;
        display: flex;

        @include xlg {
            padding: 1rem;
        }

        // @include lmd {
        //     padding: 0;
        // }

        @include md {
            display: block;
        }

        .profileImg {
            // border: 2px solid;

            img {
                height: 100%;
                width: 100%;
            }

            @include lg {
                width: 10rem;
            }

            // @include md {
            //     width: 7rem;
            // }

            @include md {
                width: 100%;
                text-align: center;

                img {
                    height: 4rem;
                    width: 4rem;
                }
            }
        }

        .profiles {
            flex: 1;
            display: flex;
            // border: 2px solid red;

            @include xl {
                display: block;
                margin-left: 2rem;
            }

            @include lmd {
                margin-left: 1rem;
            }

            @include md {
                margin: 0;
                text-align: center;
            }

            .profileNames {
                margin: 0 2rem;
                // border: 2px solid;

                @include xl {
                    margin: 0;
                    padding: 0;
                }

                h1 {
                    font-size: 4rem;

                    @include lg {
                        font-size: 3.5rem;
                    }

                    @include lmd {
                        font-size: 2.7rem;
                    }
                }

                p {
                    font-size: 1.7rem;

                    @include lmd {
                        font-size: 1.2rem;
                    }
                }

            }
        }

    }

    .createTeam {
        background: linear-gradient(50deg, green, #05ef0567, #e6ee90);
    }

    .joinTeam {
        background: linear-gradient(50deg, #f00af0f6, #ef0582fb, #e6ee90);
    }

    .createbtn {
        margin: 0 auto;
        display: block;
        width: 100%;
        padding: .5rem 0;
        border-radius: 1rem;
        background: linear-gradient(100deg, #007accfb, blue);

        &:hover {
            background: gray;
        }
    }

    .joinbtn {
        width: 8rem;
    }


    .scrollBox {
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        display: none;

        .scrollbtn {
            padding: .4rem .7rem;
            margin: .4rem 0;
        }
    }

    .scrollDisplay {
        display: block;
    }

}