@import "../../../index.scss";

.ContentBox-main {
    // border: 2px solid;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include lg {
        width: 95%;
        height: 65vh;
    }

    h1 {
        font-size: 7rem;

        @include xl {
            font-size: 5rem;
        }

        @include lg {
            width: 80%;
        }

        @include md {
            width: 100%;
            font-size: 4rem;
        }

        @include sm {
            font-size: 3rem;
        }
    }

    p {
        font-size: 1.7rem;
        margin: 1rem 0 4rem;
        font-weight: 600;

        @include xxl {
            width: 80%;
        }

        @include xl {
            font-size: 1.2rem;
        }

        @include lg {
            width: 60%;
        }

        @include sm {
            width: 80%;
            font-size: 1rem;
        }
    }

    .bgImage {
        // border: 2px solid;
        position: absolute;
        right: 0;
        bottom: -50px;
        height: 150%;
        width: 150%;
        border-radius: 50%;
        z-index: -1;
        overflow: hidden;
        filter: blur(3px);

        @include lg {
            bottom: 30px;
            width: 120%;
            height: 150%;
        }

        @include smd {
            width: 130%;
            height: 120%;
        }

        @include sm {
            width: 150%;
        }

        @include ssm {
            width: 170%;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}