@import "@/index.scss";

.header {
    position: fixed;
    z-index: 12;
    padding: 0 2rem;
    padding-bottom: .3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 2.7rem;

    @include lg {
        display: block;
        padding: 0;
    }

    .headerTitle {
        // border: 2px solid;
        width: 20rem;
        display: flex;
        align-items: center;

        @include xlg {
            width: 16rem;
        }

        @include lg {
            width: 100%;
            padding: .5rem;
        }


        .laptopIcon {
            height: 2rem;
            width: 2rem;
        }

        h6 {
            // border: 2px solid;
            margin-left: .5rem;
            font-size: 2rem;

            @include sm {
                font-size: 1.5rem;
            }
        }
    }

    .quoteDisplay {
        display: none;

        @include lg {
            display: block;
            position: absolute;
            right: 1.5rem;
        }

        @include sm {
            right: .5rem;
        }

        .riQuote {
            height: 2rem;
            width: 2rem;
        }

    }

    .headerBar {
        height: 2.7rem;
        flex: 1;
        display: flex;
        position: relative;

        @include lg {
            display: none;
            height: auto;
            width: 100%;
            // background-color: rgb(42, 43, 47);
            padding: 1rem;
        }

        .userMenu {
            // border: 2px solid blue;
            width: 90%;
            display: flex;
            margin-bottom: 5px;
            align-items: end;

            @include xl {
                width: 85%;
            }

            @include lg {
                width: 100%;
                flex-direction: column-reverse;
                margin-bottom: 1rem;
                align-items: start;
            }

            .navbar {
                // border: 2px solid green;
                width: 60%;

                @include lg {
                    top: 0;
                    width: 50%;

                    &::before {
                        content: "Menu";
                        color: gray;
                        font-weight: 700;
                    }
                }

                @include md {
                    width: 90%;
                }

                a {
                    color: inherit;
                    text-decoration: none;
                    margin-right: 2rem;

                    &:hover {
                        color: gray;
                    }

                    @include lg {
                        display: block;
                        margin: .4rem 0;
                        padding: .5rem;

                        &:hover {
                            color: inherit;
                            border-radius: .5rem;
                            background-color: #808080;
                        }
                    }


                }
            }

            .identityBar {
                flex: 1;
                display: flex;
                justify-content: end;

                @include lg {
                    width: 100%;

                    p {
                        position: relative;
                        right: 2rem;
                    }
                }
            }
        }

        .personalBar {
            // border: 2px solid yellow;
            position: absolute;
            right: 2.5rem;

            @include lg {
                position: sticky;
                width: 100%;

            }


            &:hover {
                .dropBox {
                    display: block;
                }
            }

            .dropDown {
                position: relative;
                top: 10px;
                height: 2rem;
                width: 2rem;

                @include lg {
                    display: none;
                }
            }

            .dropBox {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                padding: 4rem .5rem 0 0;

                @include lg {
                    position: static;
                    display: block;
                    box-shadow: none;
                    padding: 0;
                }

                .dropMenu {
                    // box-shadow: gray 0 0 2px 2px;
                    border-radius: 10px;
                    padding: 1rem;
                    width: 13rem;
                    z-index: 15;

                    @include lg {
                        position: static;
                        display: block;
                        box-shadow: none;
                        padding: 0;
                        width: 50%;
                        background-color: none;

                        &::before {
                            content: "Utils";
                            font-weight: 700;
                            color: gray;
                        }
                    }

                    @include md {
                        width: 90%;
                    }


                    .actionBackground {
                        padding: .5rem;
                        padding-top: 0;
                        border-radius: 10px;
                        margin: .5rem 0;

                        &:hover {
                            background-color: #808080;
                        }

                        @include lg {
                            background-color: inherit;
                        }
                    }

                    .actionCraft {
                        display: flex;
                        column-gap: .3rem;
                    }

                    .toLogout {
                        margin: 0;
                        background-color: rgb(114, 55, 55);
                        width: 50%;
                        cursor: pointer;

                        .logoutBtn {
                            width: 100%;
                            margin-top: 1rem;
                            border-radius: 10px;
                            padding: .5rem 0;
                            background: linear-gradient(50deg, salmon, red);
                        }

                    }

                    .themeBox {
                        margin: 0;
                        width: 50%;
                        display: flex;
                        justify-content: center;

                        @include lg {
                            border: .5px solid;
                        }
                    }
                }
            }

        }
    }

    .headerBarDisplay {
        display: block;
    }

    .headerIcon {
        height: 1.5rem;
        width: 1.5rem;
        position: relative;
        top: 7px;
    }

    .headerAll {
        width: 100%;
        position: relative;
    }

    .unAuthTheme {
        position: absolute;
        right: 3rem;
        height: 100%;
        display: flex;
        align-items: center;

        .headerIcon {
            top: 0;
        }
    }


}