.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000c6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .modal {
        // background: white;
        border: 2px solid;
        padding: 20px;
        border-radius: 5px;
        position: relative;

    }

    .modal-close {
        color: red;
        position: absolute;
        top: 2px;
        right: 5px;
        height: 1.7rem;
        width: 1.7rem;
    }
}