@import "@/index.scss";

.Teams-container {
    padding: 2rem 4rem;

    @include xlg {
        padding: 1rem;
    }

    .teams-Header {
        display: flex;
        margin-bottom: 2rem;
        position: sticky;
        top: 3.6rem;
        padding-bottom: 1rem;


        @include md {
            display: block;
        }



        .teamTitle {
            // border: 2px solid;
            width: 10rem;
        }

        .teamSearch {
            flex: 1;
            display: flex;
            justify-content: end;

            .faSearch {
                height: 1.2rem;
                width: 1.2rem;
                position: relative;
                top: .8rem;

                @include lmd {
                    top: .6rem;
                }
            }

            .faMinus {
                left: 11.4rem;

                @include lmd {
                    left: 8.3rem;
                }
            }

            input {
                background-color: inherit;
                color: inherit;
                padding: .5rem .7rem;
                border: 2px solid;
                border-radius: 10px;

                @include lmd {
                    padding: .3rem;
                    width: 8rem;
                    height: 1.5rem;
                }
            }
        }
    }


    .teams-main {
        // border: 2px solid;
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
        column-gap: 2rem;
        justify-content: center;

        .team-box {
            padding: 1rem 2rem;
            height: 8rem;
            width: 20rem;
            border-radius: 10px;

            @include lg {
                width: 100%;
            }

            .fontAwesome {
                height: 2rem;
                width: 2rem;
                color: #0000ffd0;
            }

            hr {
                border: 1px solid;
                margin-bottom: 1rem;
            }




        }
    }
}