.App {
    min-height: 95vh;
    margin-top: 5vh;
}

// light theme
.light {
    background-color: white;
    color: black;
}

.light-shadow {
    box-shadow: black 0 0 10px 1px;
}

.light-input {
    color: black;
}


// dark theme
.dark {
    background-color: black;
    color: white;
}

.dark-shadow {
    box-shadow: white 0 0 10px 1px;
}

.dark-input {
    color: white;
}