@import "../../../index.scss";


.form-main {
    // border: 2px solid red;
    position: relative;
    padding: 4rem;
    z-index: 2;

    @include xl {
        padding: 3rem;
    }

    @include smd {
        padding: 4rem 2rem;
    }

    @include sm {
        padding: 1rem;
    }

    @mixin bubble {
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }

    .bubbleA {
        height: 12rem;
        width: 12rem;
        top: 0;
        left: 0;
        @include bubble;

        @include xl {
            height: 9rem;
            width: 9rem;
        }

        @include sm {
            height: 7rem;
            width: 7rem;
            top: -1rem;
            left: -.2rem;
        }
    }

    .bubbleB {
        height: 9rem;
        width: 9rem;
        bottom: 0;
        right: 0;
        @include bubble();

        @include xl {
            height: 6.75rem;
            width: 6.75rem;
        }

        @include sm {
            height: 4rem;
            width: 4rem;
        }
    }

    .form-sub {
        box-shadow: white 0 0 10px 1px;
        // box-shadow: black 0 0 10px 1px;
        padding: 3rem 2rem;
        border-radius: 5px;
        backdrop-filter: blur(10px);
        width: 22rem;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include xl {
            width: 18rem;
        }

        @include xlg {
            width: 15rem;
        }

        @include lg {
            width: 22rem;
        }

        @include md {
            width: 15rem;
        }

        @include smd {
            padding: 1.5rem 1rem;
        }

        @include ssm {
            width: 13rem;
        }

        @include nano {
            width: 11rem;
        }

        h3 {
            font-size: 3rem;
        }

        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .hrline {
            width: 100%;
            margin: 1rem 0;
        }

        .navigate {
            text-align: center;

            a {
                text-decoration: none;
            }
        }

    }

}